form {
  display: flex;
  justify-content: space-between;

  input {
    padding: 6px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    border-radius: 8px;
    border: 1px solid gray;
  }
}
